<article class="nominee__card">
  <p class="nominee__position-sought">
    Running for <%= nominee.position %>
  </p>
  <div class="nominee__inner">
    <div class="nominee__img-container">
      <img src="<%= nominee.headshot %>" alt="<%= nominee.name %>" />
    </div>
    <header>
      <!-- Twitter and Website-->
      <% if (nominee.website.source === 'twitter' || nominee.website.source ===
      'website') { %>
      <a class="nominee__header-link" href="<%= nominee.website.url %>">
        <% } %>
        <h3 id="<%= nominee.name %>"><%= nominee.name %></h3>
        <% if (nominee.website.source === 'twitter' || nominee.website.source
        === 'website') { %> <%- nominee.website.icon %>
      </a>
      <% } %>
    </header>
    <div class="nominee__section">
      <!-- Current Position  -->
      <% if (nominee.currentPosition) { %>
      <p class="nominee__label">Current Position</p>
      <p><%= nominee.currentPosition %></p>
      <% } %>
      <!-- Related Position  -->
      <% if (nominee.relatedPosition) { %>
      <p class="nominee__label">Related Position(s)</p>
      <p><%= nominee.relatedPosition %></p>
      <% } %>
      <!-- HSS Related Statement  -->
      <% if (nominee.hss) { %>
      <p class="nominee__label">HSS and Related Activities</p>
      <ul>
        <% nominee.hss.forEach(function(item) { %>
        <li><%- item %></li>
        <% }) %>
      </ul>
      <p><% nominee.hss %></p>
      <% } %>
      <!-- Campaign Statement  -->
      <% if (nominee.campaignStatement) { %>
      <p class="nominee__label">Campaign Statement</p>
      <p><%= nominee.campaignStatement %></p>
      <% } %>
    </div>
    <div class="nominee__publications">
      <p class="nominee__label">Publications</p>
      <div class="nominee__publication-covers">
        <% if (nominee.bookGallery) { nominee.bookGallery.forEach(function(item)
        { %>
        <a class="nominee__covers-links" href="<%= item.url %>"
          ><img class="nominee__covers-img" src="<%= item.img %>" alt=""
        /></a>
        <% } ) } %>
      </div>
      <ol>
        <% if (nominee.pub1) { %>
        <li><%- nominee.pub1 %></li>
        <% } %> <% if (nominee.pub2) { %>
        <li><%- nominee.pub2 %></li>
        <% } %> <% if (nominee.pub3) { %>
        <li><%- nominee.pub3 %></li>
        <% } %> <% if (nominee.pub4) { %>
        <li><%- nominee.pub4 %></li>
        <% } %> <% if (nominee.pub5) { %>
        <li><%- nominee.pub5 %></li>
        <% } %> <% if (nominee.pub6) { %>
        <li><%- nominee.pub6 %></li>
        <% } %> <% if (nominee.pub7) { %>
        <li><%- nominee.pub7 %></li>
        <% } %> <% if (nominee.pub8) { %>
        <li><%- nominee.pub8 %></li>
        <% } %> <% if (nominee.pub9) { %>
        <li><%- nominee.pub9 %></li>
        <% } %> <% if (nominee.pub10) { %>
        <li><%- nominee.pub10 %></li>
        <% } %>
      </ol>
    </div>
  </div>
  <footer class="nominee__footer"></footer>
</article>
