<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Election Ballot</title>
    <link rel="stylesheet" href="/dist/css/main.css" />
    <link rel="stylesheet" href="/dist/css/evil-icons.min.css" />
  </head>
  <body>
    <%- sprite.icons %>
    <main class="fsBody">
      <!-- Council  -->
      <section class="nominee">
        <h2>Nominees for Council</h2>
        <% council.forEach(function(nominee) { %> <%-
        include('partials/nominee', {nominee: nominee}); %> <% }) %>
      </section>
      <!-- Nominating Committee -->
      <section class="nominee">
        <h2>Nominee for Council Delegate</h2>
        <% nomcom.forEach(function(nominee) { %> <%- include('partials/nominee',
        {nominee: nominee}); %> <% }) %>
      </section>
      <!-- Council Delegate -->
      <section class="nominee">
        <h2>Nominee for Council Delegate</h2>
        <% delegate.forEach(function(nominee) { %> <%-
        include('partials/nominee', {nominee: nominee}); %> <% }) %>
      </section>
      <!-- Secretary  -->
      <section class="nominee">
        <h2>Nominee for Secretary</h2>
        <% secretary.forEach(function(nominee) { %> <%-
        include('partials/nominee', {nominee: nominee}); %> <% }) %>
      </section>
    </main>
  </body>
</html>
