<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Election Ballot</title>
    <link rel="stylesheet" href="/dist/css/main.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <main class="section">
      <div class="container">
        <!-- Council  -->
        <section class="section">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-half">
                <h2 class="title is-2">Nominees for Council</h2>
                <% council.forEach(function(nominee, idx) { %> <%-
                include('partials/nominee', {nominee: nominee, idx}); %> <% })
                %>
              </div>
            </div>
          </div>
        </section>
        <!-- Nominating Committee -->
        <section class="section">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-half">
                <h2 class="title is-2">Nominee for Council Delegate</h2>
                <% nomcom.forEach(function(nominee, idx) { %> <%-
                include('partials/nominee', {nominee: nominee, idx}); %> <% })
                %>
              </div>
            </div>
          </div>
        </section>
        <!-- Council Delegate -->
        <section class="section">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-half">
                <h2 class="title is-2">Nominee for Council Delegate</h2>
                <% delegate.forEach(function(nominee, idx) { %> <%-
                include('partials/nominee', {nominee: nominee, idx}); %> <% })
                %>
              </div>
            </div>
          </div>
        </section>
        <!-- Secretary  -->
        <section class="section">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-half">
                <h2 class="title is-2">Nominee for Secretary</h2>
                <% secretary.forEach(function(nominee, idx) { %> <%-
                include('partials/nominee', {nominee: nominee, idx}); %> <% })
                %>
              </div>
            </div>
          </div>
        </section>
        <!-- Secretary  -->
        <section class="section">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-half">
                <h2 class="title is-2">Nominee for Treasurer</h2>
                <% treasurer.forEach(function(nominee, idx) { %> <%-
                include('partials/nominee', {nominee: nominee, idx}); %> <% })
                %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
