<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Election Ballot</title>
    <link rel="stylesheet" href="/dist/css/main.css" />
    <link rel="stylesheet" href="/dist/css/evil-icons.min.css" />
    <!-- <style>
      .nominee {
        width: 100%;
      }
      .nominee__card {
        margin: 1rem;
      }
      .nominee__img-container {
        height: 20rem;
        width: 20rem;
        max-width: 100%;
      }
      .nominee__img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .nominee__header-link {
        display: flex;
        align-items: center;
        line-height: 1;
        padding: 1rem 0;
        width: fit-content;
      }
      .nominee__icon svg {
        height: 2rem;
        width: 2rem;
      }
      .nominee__label {
        font-size: 0.95rem;
        text-transform: uppercase;
        opacity: 0.75;
        font-weight: 600;
        margin-bottom: 0;
        background: #dddddd;
        padding: 2px 5px;
      }
      .nominee__label:first-child,
      .nominee__label + p {
        margin-top: 0;
      }
      .nominee__publication-label {
        font-size: 0.75rem;
        text-transform: uppercase;
        padding: 0 3px;
        color: #ffffff;
        background-color: #464545;
        border-radius: 3px;
        margin-right: 5px;
        font-weight: 600;
      }
    </style> -->
  </head>
  <body>
    <%- sprite.icons %>
    <main>
      <!-- Council  -->
      <section class="nominee">
        <% council.forEach(function(nominee) { %>
        <article class="nominee__card">
          <p class="nominee__position-sought">
            Running for <%= nominee.position %>
          </p>
          <div class="nominee__img-container">
            <img src="<%= nominee.headshot %>" alt="<%= nominee.name %>" />
          </div>
          <header>
            <!-- Twitter and Website-->
            <% if (nominee.website.source === 'twitter' ||
            nominee.website.source === 'website') { %>
            <a class="nominee__header-link" href="<%= nominee.website.url %>">
              <% } %>
              <h2 id="<%= nominee.name %>"><%= nominee.name %></h2>
              <% if (nominee.website.source === 'twitter' ||
              nominee.website.source === 'website') { %> <%-
              nominee.website.icon %>
            </a>
            <% } %>
          </header>
          <div class="nominee__section">
            <!-- Current Position  -->
            <% if (nominee.currentPosition) { %>
            <p class="nominee__label">Current Position</p>
            <p><%= nominee.currentPosition %></p>
            <% } %>
            <!-- Related Position  -->
            <% if (nominee.relatedPosition) { %>
            <p class="nominee__label">Related Position(s)</p>
            <p><%= nominee.relatedPosition %></p>
            <% } %>
            <!-- HSS Related Statement  -->
            <% if (nominee.hss) { %>
            <p class="nominee__label">HSS and Related Activities</p>
            <ul>
              <% nominee.hss.forEach(function(item) { %>
              <li><%- item %></li>
              <% }) %>
            </ul>
            <p><% nominee.hss %></p>
            <% } %>
            <!-- Campaign Statement  -->
            <% if (nominee.campaignStatement) { %>
            <p class="nominee__label">Campaign Statement</p>
            <p><%= nominee.campaignStatement %></p>
            <% } %>
          </div>
          <div class="nominee__publications">
            <p class="nominee__label">Publications</p>
            <div class="nominee__publication-covers">
              <% if (nominee.bookGallery) {
              nominee.bookGallery.forEach(function(item) { %>
              <a class="nominee__covers-links" href="<%= item.url %>"
                ><img class="nominee__covers-img" src="<%= item.img %>" alt=""
              /></a>
              <% } ) } %>
            </div>
            <ol>
              <% if (nominee.pub1) { %>
              <li><%- nominee.pub1 %></li>
              <% } %> <% if (nominee.pub2) { %>
              <li><%- nominee.pub2 %></li>
              <% } %> <% if (nominee.pub3) { %>
              <li><%- nominee.pub3 %></li>
              <% } %> <% if (nominee.pub4) { %>
              <li><%- nominee.pub4 %></li>
              <% } %> <% if (nominee.pub5) { %>
              <li><%- nominee.pub5 %></li>
              <% } %> <% if (nominee.pub6) { %>
              <li><%- nominee.pub6 %></li>
              <% } %> <% if (nominee.pub7) { %>
              <li><%- nominee.pub7 %></li>
              <% } %> <% if (nominee.pub8) { %>
              <li><%- nominee.pub8 %></li>
              <% } %> <% if (nominee.pub9) { %>
              <li><%- nominee.pub9 %></li>
              <% } %> <% if (nominee.pub10) { %>
              <li><%- nominee.pub10 %></li>
              <% } %>
            </ol>
          </div>
          <footer class="nominee__footer"></footer>
        </article>
        <% }) %>
      </section>
      <!-- Secretary  -->
      <section class="nominee">
        <% secretary.forEach(function(nominee) { %>
        <article class="nominee__card">
          <p class="nominee__position-sought">
            Running for <%= nominee.position %>
          </p>
          <div class="nominee__img-container">
            <img src="<%= nominee.headshot %>" alt="<%= nominee.name %>" />
          </div>
          <header>
            <!-- Twitter and Website-->
            <% if (nominee.website.source === 'twitter' ||
            nominee.website.source === 'website') { %>
            <a class="nominee__header-link" href="<%= nominee.website.url %>">
              <% } %>
              <h2 id="<%= nominee.name %>"><%= nominee.name %></h2>
              <% if (nominee.website.source === 'twitter' ||
              nominee.website.source === 'website') { %> <%-
              nominee.website.icon %>
            </a>
            <% } %>
          </header>
          <div>
            <!-- Current Position  -->
            <% if (nominee.currentPosition) { %>
            <p class="nominee__label">Current Position</p>
            <p><%= nominee.currentPosition %></p>
            <% } %>
            <!-- Related Position  -->
            <% if (nominee.relatedPosition) { %>
            <p class="nominee__label">Related Position(s)</p>
            <p><%= nominee.relatedPosition %></p>
            <% } %>
            <!-- Campaign Statement  -->
            <% if (nominee.campaignStatement) { %>
            <p class="nominee__label">Campaign Statement</p>
            <p><%= nominee.campaignStatement %></p>
            <% } %>
            <!-- HSS Related Statement  -->
            <% if (nominee.hss) { %>
            <p class="nominee__label">HSS and Related Activities</p>
            <ul>
              <% nominee.hss.forEach(function(item) { %>
              <li><%- item %></li>
              <% }) %>
            </ul>
            <p><% nominee.hss %></p>
            <% } %>
          </div>
          <div class="nominee__publications">
            <p class="nominee__label">Publications</p>
            <div class="nominee__publication-covers">
              <% if (nominee.bookGallery) {
              nominee.bookGallery.forEach(function(item) { %>
              <a class="nominee__covers-links" href="<%= item.url %>"
                ><img class="nominee__covers-img" src="<%= item.img %>" alt=""
              /></a>
              <% } ) } %>
            </div>
            <ol>
              <% if (nominee.pub1) { %>
              <li><%- nominee.pub1 %></li>
              <% } %> <% if (nominee.pub2) { %>
              <li><%- nominee.pub2 %></li>
              <% } %> <% if (nominee.pub3) { %>
              <li><%- nominee.pub3 %></li>
              <% } %> <% if (nominee.pub4) { %>
              <li><%- nominee.pub4 %></li>
              <% } %> <% if (nominee.pub5) { %>
              <li><%- nominee.pub5 %></li>
              <% } %> <% if (nominee.pub6) { %>
              <li><%- nominee.pub6 %></li>
              <% } %> <% if (nominee.pub7) { %>
              <li><%- nominee.pub7 %></li>
              <% } %> <% if (nominee.pub8) { %>
              <li><%- nominee.pub8 %></li>
              <% } %> <% if (nominee.pub9) { %>
              <li><%- nominee.pub9 %></li>
              <% } %> <% if (nominee.pub10) { %>
              <li><%- nominee.pub10 %></li>
              <% } %>
            </ol>
          </div>
          <footer class="nominee__footer"></footer>
        </article>
        <% }) %>
      </section>
    </main>
  </body>
</html>
